<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%= link_to "課題を提起する", new_problem_path %>
  </div>
</div>

<div class="problems">
<% current_user.problems.each do |problem| %>
    <div class="problem">
      <div class="problem-title">
        <%= link_to problem.problem_title, problem_comments_path(problem) %>
      </div>
    </div>
  <% end %>
</div>